.main{
    margin-top: 150px;
    text-align: center;
}
.heading h1{
    margin: 15px 0;
}
.main label{
    font-size: 24px;
    font-weight: 300;
    box-sizing: border-box;
}
.main input[type=text]{
    width: 80%;
    padding: 20px;
    margin: 20px 10px 10px 10px;
    box-sizing: border-box;
}
.errorMsg{
    color: red;
    margin-bottom: 10px;
}
.btn{
    background-color: #ff6200;
    color: #fff;
    min-height: 60px;
    padding: 0 80px;
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

}