<app-header></app-header>
<app-footer></app-footer>
<ion-row class="main">
    <ion-col size="12">
        <ion-row class="heading">
            <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="8" size-sm="12" size-xs="12">
                <h1 style="color:#4d148c">Reset Password</h1>
            </ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
        </ion-row>
        <ion-row class="heading marginFix">
            <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
            <ion-col size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
                <form [formGroup]="forgotPassword">
                    <ion-row class="emailId">
                        <ion-label class="label" for="email">To change your password, enter your Email Id.</ion-label>
                        <ion-col size="12">
                            <ion-input id="email" autocomplete="off" placeholder="Enter your email id" type="text"
                                name="email" formControlName="email"></ion-input>
                        </ion-col>
                        <ion-row>
                            <ion-col size="12" class="errorMsg"
                                *ngIf="forgotPassword.controls['email'].invalid && (forgotPassword.controls['email'].dirty || forgotPassword.controls['email'].touched)">
                                <ion-col size="12" class="errorMsg"
                                    *ngIf="forgotPassword.controls['email'].errors.required">Please enter email address
                                </ion-col>
                                <ion-col size="12" class="errorMsg"
                                    *ngIf="forgotPassword.controls['email'].errors.pattern">Invaild email
                                    Address
                                </ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-row>
                    <ion-button [disabled]="!forgotPassword.valid" (click)="forgotPass()">Submit
                    </ion-button>
                </form>
                <ion-row>
                    <ion-col size="12" *ngIf="showTag" class="message">If the user exists, you send your standard password
                        reset email with a
                        URL and instructions.</ion-col>
                </ion-row>
            </ion-col>
            <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
        </ion-row>
    </ion-col>
</ion-row>