<app-header></app-header>
<app-footer></app-footer>
<div class="main">
    <ion-row class="heading">
        <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="8" size-sm="12" size-xs="12">
            <h1 style="color:#4d148c">Reset Password</h1>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
    </ion-row>
    <ion-row class="heading marginFix">
        <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
            <form [formGroup]="forgotPassword">
                <div class="emailId"><label class="label" for="email">To change your password, enter your Email Id.</label>
                    <input id="email" autocomplete="off" placeholder="Enter your email id" type="text" name="email" formControlName="email">
                    <div class="errorMsg" *ngIf="forgotPassword.controls['email'].invalid && (forgotPassword.controls['email'].dirty || forgotPassword.controls['email'].touched)">
                        <div *ngIf="forgotPassword.controls['email'].errors.required">
                            <div class="errorMsg">Please enter email address</div>
                        </div>
                        <div class="errorMsg" *ngIf="forgotPassword.controls['email'].errors.pattern">Invaild email Address
                        </div>
                    </div>
                </div>
                <button [ngClass]="{'validButton': forgotPassword.valid, 'inValidButton': !forgotPassword.valid}" class="button" [disabled]="!forgotPassword.valid" (click)="forgotPass()">Submit</button>
            </form>
            <p *ngIf="showTag" class="msg">If the user exists, you send your standard password reset email with a URL and instructions.</p>
        </ion-col>
        <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
    </ion-row>

</div>