<app-header></app-header>
<app-footer></app-footer>
<div class="main">
    <ion-row class="heading">
        <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="8" size-sm="12" size-xs="12">
            <h1 style="color:#4d148c">Forgot Password</h1>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="2" size-sm="12" size-xs="12"></ion-col>
    </ion-row>
    <ion-row class="heading">
        <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
            <form [formGroup]="forgotPassword">
                <div class="emailId"><label class="label" for="emailId">To change your password, enter your Email Id.</label>
                    <input class="marginFix" id="emailId" autocomplete="off" placeholder="Enter your email id"
                        type="text" name="emailId" formControlName="emailId">
                    <div class="errorMsg"
                        *ngIf="forgotPassword.controls['emailId'].invalid && (forgotPassword.controls['emailId'].dirty || forgotPassword.controls['emailId'].touched)">
                        <div *ngIf="forgotPassword.controls['emailId'].errors.required">
                            <div class="errorMsg">Please enter email address</div>
                        </div>
                        <div class="errorMsg" *ngIf="forgotPassword.controls['emailId'].errors.pattern">Invaild email
                            Address</div>
                    </div>
                </div>
                <button class="btn">Submit</button>
            </form>
        </ion-col>
        <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
    </ion-row>

</div>