.main {
    margin: 0 0 80px 0;
}

.heading h1 {
    font-size: 35px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 15px 0;
}
.labelHeading {
    font-size: 17px;
    font-weight: bold;
}

.rateTransit label {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 10px 10px 0;
}

ion-input, ion-select{
    width: 100%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    outline: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 5px;
}

.marginAuto{
    margin: 0 auto;
}

.errorMsg {
    font-size: 12px;
    color: red;
}

.resultHeading {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
    color: #4d148c;
}

.alignCenter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 24px;
    color: red;
}

ion-button{
--background: #ff6200;
}

ion-button[disabled] {
    --background: grey;

}

.lableContent {
    font-size: 17px;
}

.validButton{
    font-size: 14px;
}

// rate-Transit-details start
.showRateUi{
    width: 80%;
    margin: 3% auto 0 auto;
}
.labelHeading{
    font-weight: bold;
    padding: 0 0 10px 0;
}

.success{
    color: green;
}

.date{
    padding: 0 0 10px 0;
}

.price, .priceFirst{
    text-align: end;
}

.labelPrice{
    margin: 10px 0;
}

.showRate{
    border-top: 1px solid #e3e3e3;
    padding: 20px;
}

.dropButton{
    --background: none;
    color: black;
    margin: 0 10px;
}

.dropDownRate{
    display: none;
}

.responsive{
    display: block;
}

.arrivesHeadIng{
    text-align: center;
}

// rate-Transit-details end

.secondion-row{
    display: none;
}

@media screen and (max-width: 600px) {

.validButton{
    font-size: 10px;
}
}

@media screen and (max-width: 767px){
    .secondion-row{
        display: block;
        margin-top: 3%;
    }
    .priceFirst{
        display: none;
    }
    .arrivesHeadIng{
        margin-bottom: 3%;
    }
}

