.main{
    margin: 0 0 80px 0;
}
.heading h1{
    font-size: 35px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 15px 0;
}
.rateTransit .cityZip{
    display: flex;
    width: 100%;
}
.rateTransit .cityZip .city{
    width: 50%;
}
.rateTransit .cityZip .zip{
    width: 50%;
    margin: 0 0 0 15px;
}

.rateTransit .label{
    margin: 10px 0;
}
.rateTransit label{
    font-size: 20px;
    padding: 10px 10px 10px 0;
}
.rateTransit input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    outline: none;
    border-left: 3px solid #de002e;
    border-bottom: none;
    border-top: none;
    border-right: none;

}
.rateTransit .errorMsg{
    font-size: 12px;
    color: red;

}
.rateTransit input:focus{
    border-left: 3px solid #4d148c;
    transition: .25s ease;
}
.rateTransit button{
    padding: 20px 40px;
    margin: 10px 0;
    color: #fff;
}
.validButton {
    cursor: pointer;
    background-color: green;
  }

  .inValidButton {
    cursor: no-drop;
    background-color: grey;
  }
  /* rate start here*/
.showRate{
    display: flex;
    margin: 15px 30px 15px 15px;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
}
.headIng{
    width: 30%;
    text-align: center;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}
.secondDIv{
    width: 70%;
    box-sizing: border-box;
}
.DeliverMain{
    display: flex;
}
.Deliver{
    width: 100%;
    margin: 0 10px;
}
.headIng dt, dd, .Deliver dt, dd{
    padding: 0 0 10px 0;
}
.headIng dt, .Deliver dt{
    font-weight: bold;
}
.dropBtn{
    margin: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.pricebtn{
    display: block;
    padding: 15px 30px;
    margin: 15px;
    background-color: #ff6200;
    border: none;
    color: #fff;
}
.priceBtn{
    display: none;

}
  .dropDownRate{
      flex-wrap: wrap;
      flex-direction: row;
      margin: 10px;
      display: none;
  }
  .dropDownRate.responsive{
      display: flex;
  }
  .dropDownRate dt{
      width: 80%;
      padding: 0 0 10px 0;
  }
  .dropDownRate dd{
    width: 20%;
    text-align: right;
}



  /* rate end here*/
@media screen and (max-width: 767px){
    .rateTransit{
        margin: 10px;
        box-sizing: border-box;
    }
    .heading h1{
        font-size: 25px;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding: 15px 0;
    }
    .rateTransit input[type=text]{
        width: 100%;
        padding: 10px;
        margin: 10px 0px 10px 0px;
        box-sizing: border-box;
        background-color: #f2f2f2;
    }
    /*start*/
    .showRate{
        display: block;
        margin: 15px;
    }
    .headIng{
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;
    }
    .secondDIv{
        width: 100%;
    }
    .DeliverMain{
        display: flex;
    }
    .Deliver{
        width: 100%;
        margin: 0 10px;
        
    }
    .headIng dt, dd, .Deliver dt, dd{
        padding: 0 0 10px 0;
    }
    .headIng dt, .Deliver dt{
        font-weight: bold;
    }
    
      .dropDownRate{
          display: none;
          flex-wrap: wrap;
          flex-direction: row;
          margin: 10px;
      }
      .responsive{
        display: flex;
    }
      .dropDownRate dt{
          width: 80%;
          padding: 0 0 10px 0;
      }
      .dropDownRate dd{
        width: 20%;
        text-align: right;
    }
    .pricebtn{
        display: none;
    }
    .priceBtn{
        padding: 15px 30px;
        margin: 15px 25px;
        display: block;
        background-color: #ff6200;
        border: none;
        color: #fff;

    }
    /*end*/
}