<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="main">
  <ion-row>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12">
      <div class="heading">
        <h1>Calculate shipping rates.</h1>
      </div>
    </ion-col>
    <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="12" size-xs="12"></ion-col>
  </ion-row>
  <ion-row class="rateTransit">
    <ion-col size-xl="4" size-lg="4" size-md="3" size-sm="2" size-xs="2"></ion-col>
    <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="8" size-xs="8">
      <form class="checkRate" [formGroup]="checkRateForm">
        <div class="label"><label>From</label></div>
        <div><input type="text" placeholder="Enter your address 1" name="Address1" autocomplete="off"
            formControlName="FromAddress1">
          <div class="errorMsg"
            *ngIf="checkRateForm.controls['FromAddress1'].invalid && (checkRateForm.controls['FromAddress1'].dirty || checkRateForm.controls['FromAddress1'].touched)"
            class="alert">
            <div *ngIf="checkRateForm.controls['FromAddress1'].errors.required">
              <div class="errorMsg"> This is a required Fields</div>
            </div>
            <div *ngIf="checkRateForm.controls['FromAddress1'].errors.minlength">
              <div class="errorMsg"> Address contains atleast 10 characters</div>
            </div>
          </div>
        </div>
        <div><input type="text" placeholder="Address 2 (Optional)" name="Address2" autocomplete="off"
            formControlName="FromAddress2"></div>
        <div class="cityZip">
          <div class="city"><input type="text" placeholder="Enter your city" name="City" formControlName="Fromcity">
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Fromcity'].invalid && (checkRateForm.controls['Fromcity'].dirty || checkRateForm.controls['Fromcity'].touched)"
              class="alert">
              <div *ngIf="checkRateForm.controls['Fromcity'].errors.required">
                <div class="errorMsg"> This is a required Fields</div>
              </div>
              <div *ngIf="checkRateForm.controls['Fromcity'].errors.pattern">
                <div class="errorMsg"> Only Alphanumeric characters are allowed</div>
              </div>
              <div *ngIf="checkRateForm.controls['Fromcity'].errors.minlength">
                <div class="errorMsg"> Minimum 3 alphabetical letters are Required</div>
              </div>
              <div *ngIf="checkRateForm.controls['Fromcity'].errors.maxlength">
                <div class="errorMsg"> Maximum 35 alphabetical characters Long Only</div>
              </div>
            </div>
          </div>
          <div class="state">
            <select formControlName="Fromstate" (change)="selectFromState($event)">
              <option value="">Select State</option>
              <option value="AL">Alabama (AL)</option>
              <option value="AK">Alaska (AK)</option>
              <option value="AZ">Arizona (AZ)</option>
              <option value="AR">Arkansas (AR)</option>
              <option value="CA">California (CA)</option>
              <option value="CO">Colorado (CO)</option>
              <option value="CT">Connecticut (CT)</option>
              <option value="DE">Delaware (DE)</option>
              <option value="DC">District Of Columbia (DC)</option>
              <option value="FL">Florida (FL)</option>
              <option value="GA">Georgia (GA)</option>
              <option value="HI">Hawaii (HI)</option>
              <option value="ID">Idaho (ID)</option>
              <option value="IL">Illinois (IL)</option>
              <option value="IN">Indiana (IN)</option>
              <option value="IA">Iowa (IA)</option>
              <option value="KS">Kansas (KS)</option>
              <option value="KY">Kentucky (KY)</option>
              <option value="LA">Louisiana (LA)</option>
              <option value="ME">Maine (ME)</option>
              <option value="MD">Maryland (MD)</option>
              <option value="MA">Massachusetts (MA)</option>
              <option value="MI">Michigan (MI)</option>
              <option value="MN">Minnesota (MN)</option>
              <option value="MS">Mississippi (MS)</option>
              <option value="MO">Missouri (MO)</option>
              <option value="MT">Montana (MT)</option>
              <option value="NE">Nebraska (NE)</option>
              <option value="NV">Nevada (NV)</option>
              <option value="NH">New Hampshire (NH)</option>
              <option value="NJ">New Jersey (NJ)</option>
              <option value="NM">New Mexico (NM)</option>
              <option value="NY">New York (NY)</option>
              <option value="NC">North Carolina (NC)</option>
              <option value="ND">North Dakota (ND)</option>
              <option value="OH">Ohio (OH)</option>
              <option value="OK">Oklahoma (OK)</option>
              <option value="OR">Oregon (OR)</option>
              <option value="PA">Pennsylvania (PA)</option>
              <option value="RI">Rhode Island (RI)</option>
              <option value="SC">South Carolina (SC)</option>
              <option value="SD">South Dakota (SD)</option>
              <option value="TN">Tennessee (TN)</option>
              <option value="TX">Texas (TX)</option>
              <option value="UT">Utah (UT)</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Fromstate'].invalid && (checkRateForm.controls['Fromstate'].dirty || checkRateForm.controls['Fromstate'].touched)">
              <div *ngIf="checkRateForm.controls['Fromstate'].errors.required">
                <div class="errorMsg">This is a required Fields</div>
              </div>
              <div class="errorMsg" *ngIf="Fromstate.errors?.required">
                Please select your state
              </div>
            </div>
          </div>
          <div class="zip"><input type="number" placeholder="Enter your zip/postal" name="ZIP" autocomplete="off"
              formControlName="FromZIP"
              oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="5">
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['FromZIP'].invalid && (checkRateForm.controls['FromZIP'].dirty || checkRateForm.controls['FromZIP'].touched)">
              <div *ngIf="checkRateForm.controls['FromZIP'].errors.required">
                <div class="errorMsg">This is a required Fields</div>
              </div>
            </div>
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['FromZIP'].invalid && (checkRateForm.controls['FromZIP'].dirty || checkRateForm.controls['FromZIP'].touched)">
              <div *ngIf="checkRateForm.controls['FromZIP'].errors.pattern">
                <div class="errorMsg">Invaild ZIP</div>
              </div>
            </div>
          </div>
        </div>
        <div class="label"><label>To</label></div>
        <div><input type="text" placeholder="Enter your address 1" name="Address1" autocomplete="off"
            formControlName="ToAdd1">
          <div class="errorMsg"
            *ngIf="checkRateForm.controls['ToAdd1'].invalid && (checkRateForm.controls['ToAdd1'].dirty || checkRateForm.controls['ToAdd1'].touched)"
            class="alert">
            <div *ngIf="checkRateForm.controls['ToAdd1'].errors.required">
              <div class="errorMsg"> This is a required Fields</div>
            </div>
            <div *ngIf="checkRateForm.controls['ToAdd1'].errors.minlength">
              <div class="errorMsg"> Address contains atleast 10 characters</div>
            </div>
          </div>
        </div>
        <div><input type="text" placeholder="Address 2 (Optional)" name="Address2" autocomplete="off"
            formControlName="ToAdd2">
        </div>
        <div class="cityZip">
          <div class="city"><input type="text" placeholder="Enter your city" name="City" formControlName="Tocity">
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Tocity'].invalid && (checkRateForm.controls['Tocity'].dirty || checkRateForm.controls['Tocity'].touched)"
              class="alert">
              <div *ngIf="checkRateForm.controls['Tocity'].errors.required">
                <div class="errorMsg"> This is a required Fields</div>
              </div>
              <div *ngIf="checkRateForm.controls['Tocity'].errors.pattern">
                <div class="errorMsg"> Only Alphanumeric characters are allowed</div>
              </div>
              <div *ngIf="checkRateForm.controls['Tocity'].errors.minlength">
                <div class="errorMsg"> Minimum 3 alphabetical letters are Required</div>
              </div>
              <div *ngIf="checkRateForm.controls['Tocity'].errors.maxlength">
                <div class="errorMsg"> Maximum 35 alphabetical characters Long Only</div>
              </div>
            </div>
          </div>
          <div class="state">
            <select formControlName="Tostate" (change)="selectToState($event)">
              <option value="">Select State</option>
              <option value="AL">Alabama (AL)</option>
              <option value="AK">Alaska (AK)</option>
              <option value="AZ">Arizona (AZ)</option>
              <option value="AR">Arkansas (AR)</option>
              <option value="CA">California (CA)</option>
              <option value="CO">Colorado (CO)</option>
              <option value="CT">Connecticut (CT)</option>
              <option value="DE">Delaware (DE)</option>
              <option value="DC">District Of Columbia (DC)</option>
              <option value="FL">Florida (FL)</option>
              <option value="GA">Georgia (GA)</option>
              <option value="HI">Hawaii (HI)</option>
              <option value="ID">Idaho (ID)</option>
              <option value="IL">Illinois (IL)</option>
              <option value="IN">Indiana (IN)</option>
              <option value="IA">Iowa (IA)</option>
              <option value="KS">Kansas (KS)</option>
              <option value="KY">Kentucky (KY)</option>
              <option value="LA">Louisiana (LA)</option>
              <option value="ME">Maine (ME)</option>
              <option value="MD">Maryland (MD)</option>
              <option value="MA">Massachusetts (MA)</option>
              <option value="MI">Michigan (MI)</option>
              <option value="MN">Minnesota (MN)</option>
              <option value="MS">Mississippi (MS)</option>
              <option value="MO">Missouri (MO)</option>
              <option value="MT">Montana (MT)</option>
              <option value="NE">Nebraska (NE)</option>
              <option value="NV">Nevada (NV)</option>
              <option value="NH">New Hampshire (NH)</option>
              <option value="NJ">New Jersey (NJ)</option>
              <option value="NM">New Mexico (NM)</option>
              <option value="NY">New York (NY)</option>
              <option value="NC">North Carolina (NC)</option>
              <option value="ND">North Dakota (ND)</option>
              <option value="OH">Ohio (OH)</option>
              <option value="OK">Oklahoma (OK)</option>
              <option value="OR">Oregon (OR)</option>
              <option value="PA">Pennsylvania (PA)</option>
              <option value="RI">Rhode Island (RI)</option>
              <option value="SC">South Carolina (SC)</option>
              <option value="SD">South Dakota (SD)</option>
              <option value="TN">Tennessee (TN)</option>
              <option value="TX">Texas (TX)</option>
              <option value="UT">Utah (UT)</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Tostate'].invalid && (checkRateForm.controls['Tostate'].dirty || checkRateForm.controls['Tostate'].touched)">
              <div *ngIf="checkRateForm.controls['Tostate'].errors.required">
                <div class="errorMsg">This is a required Fields</div>
              </div>
              <div class="errorMsg" *ngIf="Tostate.errors?.required">
                Please select your state
              </div>
            </div>
          </div>
          <div class="zip"><input type="number" placeholder="Enter your zip/postal" name="ZIP" autocomplete="off"
              formControlName="Tozip"
              oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="5">
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Tozip'].invalid && (checkRateForm.controls['Tozip'].dirty || checkRateForm.controls['Tozip'].touched)">
              <div *ngIf="checkRateForm.controls['Tozip'].errors.required">
                <div class="errorMsg">This is a required Fields</div>
              </div>
            </div>
            <div class="errorMsg"
              *ngIf="checkRateForm.controls['Tozip'].invalid && (checkRateForm.controls['Tozip'].dirty || checkRateForm.controls['Tozip'].touched)">
              <div *ngIf="checkRateForm.controls['Tozip'].errors.pattern">
                <div class="errorMsg">Invaild ZIP</div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn">
          <button [ngClass]="{'validButton': checkRateForm.valid, 'inValidButton': !checkRateForm.valid}"
            [disabled]="!checkRateForm.valid" (click)="checkRate()">Check Rate</button>
        </div>
      </form>
    </ion-col>
    <ion-col size-xl="4" size-lg="4" size-md="3" size-sm="2" size-xs="2"></ion-col>
  </ion-row>
  <!-- show rate part start here -->
  <div *ngIf="showRateUI">
    <ion-row>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
      <ion-col size-xl="8" size-lg="8" size-md="10" size-sm="12" size-xs="12">
        <div class="showRate">
          <div class="headIng">
            <dl>
              <dt>
                <div>ARRIVES ON</div>
              </dt>
              <dd>Wed, Feb 16</dd>
            </dl>
          </div>
          <div class="secondDIv">
            <div class="DeliverMain">
              <div class="Deliver">
                <dl>
                  <dt>
                    <div>DELIVERED BY</div>
                  </dt>
                  <dd>8:00 pm</dd>
                  <dd> Priority Overnight®</dd>
                </dl>
              </div>
              <div><button class="pricebtn">₹1,506</button></div>
              <div><button class="dropBtn">
                  <i class="fa fa-angle-down" [ngClass]="{
              'fa-angle-down' : !drop,
              'fa-angle-up' : drop
            }" (click)="dropbtn()" style="font-size:36px"></i>
                </button>
              </div>
            </div>
            <dl class="dropDownRate" [class.responsive]="check">
              <dt>Base rate</dt>
              <dd>₹1,506.00</dd>
              <dt>India MP CGST</dt>
              <dd>₹213.40</dd>
              <dt>India MP SGST</dt>
              <dd>₹213.40</dd>
              <dt>Fuel Surcharge</dt>
              <dd>₹640.10</dd>
              <dt>Peak Surcharge</dt>
              <dd>₹225.00</dd>
              <dt style="font-weight: bold;">Estimated Total</dt>
              <dd style="font-weight: bold;">₹2,797.90</dd>
            </dl>
          </div>
        </div>
        <div><button class="priceBtn">₹1,506</button></div>
      </ion-col>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
      <ion-col size-xl="8" size-lg="8" size-md="10" size-sm="12" size-xs="12">
        <div class="showRate">
          <div class="headIng">
            <dl>
              <dt>
                <div>ARRIVES ON</div>
              </dt>
              <dd>Wed, Feb 16</dd>
            </dl>
          </div>
          <div class="secondDIv">
            <div class="DeliverMain">
              <div class="Deliver">
                <dl>
                  <dt>
                    <div>DELIVERED BY</div>
                  </dt>
                  <dd>8:00 pm</dd>
                  <dd> Priority Overnight®</dd>
                </dl>
              </div>
              <div><button class="pricebtn">₹1,506</button></div>
              <div><button class="dropBtn">
                  <i class="fa fa-angle-down" [ngClass]="{
              'fa-angle-down' : !drop,
              'fa-angle-up' : drop
            }" (click)="dropbtn()" style="font-size:36px"></i>
                </button>
              </div>
            </div>
            <dl class="dropDownRate" [class.responsive]="check">
              <dt>Base rate</dt>
              <dd>₹1,506.00</dd>
              <dt>India MP CGST</dt>
              <dd>₹213.40</dd>
              <dt>India MP SGST</dt>
              <dd>₹213.40</dd>
              <dt>Fuel Surcharge</dt>
              <dd>₹640.10</dd>
              <dt>Peak Surcharge</dt>
              <dd>₹225.00</dd>
              <dt style="font-weight: bold;">Estimated Total</dt>
              <dd style="font-weight: bold;">₹2,797.90</dd>
            </dl>
          </div>
        </div>
        <div><button class="priceBtn">₹1,506</button></div>
      </ion-col>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
      <ion-col size-xl="8" size-lg="8" size-md="10" size-sm="12" size-xs="12">
        <div class="showRate">
          <div class="headIng">
            <dl>
              <dt>
                <div>ARRIVES ON</div>
              </dt>
              <dd>Wed, Feb 16</dd>
            </dl>
          </div>
          <div class="secondDIv">
            <div class="DeliverMain">
              <div class="Deliver">
                <dl>
                  <dt>
                    <div>DELIVERED BY</div>
                  </dt>
                  <dd>8:00 pm</dd>
                  <dd> Priority Overnight®</dd>
                </dl>
              </div>
              <div><button class="pricebtn">₹1,506</button></div>
              <div><button class="dropBtn">
                  <i class="fa fa-angle-down" [ngClass]="{
              'fa-angle-down' : !drop,
              'fa-angle-up' : drop
            }" (click)="dropbtn()" style="font-size:36px"></i>
                </button>
              </div>
            </div>
            <dl class="dropDownRate" [class.responsive]="check">
              <dt>Base rate</dt>
              <dd>₹1,506.00</dd>
              <dt>India MP CGST</dt>
              <dd>₹213.40</dd>
              <dt>India MP SGST</dt>
              <dd>₹213.40</dd>
              <dt>Fuel Surcharge</dt>
              <dd>₹640.10</dd>
              <dt>Peak Surcharge</dt>
              <dd>₹225.00</dd>
              <dt style="font-weight: bold;">Estimated Total</dt>
              <dd style="font-weight: bold;">₹2,797.90</dd>
            </dl>
          </div>
        </div>
        <div><button class="priceBtn">₹1,506</button></div>
      </ion-col>
      <ion-col size-xl="2" size-lg="2" size-md="1" size-sm="12" size-xs="12"></ion-col>
    </ion-row>
  </div>
</div>