.main {
    margin: 0 0 80px 0;
}

.heading h1 {
    font-size: 35px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 15px 0;
}

.labelHeading {
    font-size: 17px;
    font-weight: bold;
}

.rateTransit label {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 10px 10px 0;
}

ion-input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    outline: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 5px;
    outline: none;
}

.marginAuto {
    margin: 0 auto;
}

.errorMsg {
    font-size: 12px;
    color: red;
}

.resultHeading {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
    color: #4d148c;
}

.alignCenter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 24px;
    color: red;
}

ion-button {
    --background: #ff6200;
}

ion-button[disabled] {
    --background: grey;

}

.lableContent {
    font-size: 17px;
}

.validButton {
    font-size: 14px;
}

// rate-Transit-details start
.showRateUi {
    width: 80%;
    margin: 3% auto 0 auto;
}

.labelHeading {
    font-weight: bold;
    padding: 0 0 10px 0;
}

.success {
    color: green;
}

.date {
    padding: 0 0 10px 0;
}

.price,
.priceFirst {
    text-align: end;
}

.labelPrice {
    margin: 10px 0;
}

.showRate {
    border-top: 1px solid #e3e3e3;
    padding: 20px;
}

.dropButton {
    --background: none;
    color: black;
    margin: 0 10px;
}

.dropDownRate {
    display: none;
}

.responsive {
    display: block;
}

.arrivesHeadIng {
    text-align: center;
}

.calFix {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px !important;
}

.inputDate {
    color: black;
}

// rate-Transit-details end

.secondion-row {
    display: none;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    width: 200px !important;
    height: auto !important;

}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 10px !important;
}


::ng-deep .cdk-overlay-pane {
    left: 52% !important;
    left: calc((100vw - 40px) / 2) !important;

}

.mainLabel {
    font-size: 10px;
}

.subLabel {
    font-size: 9px;
}

.labelRow {
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 5px;
}

.sideLable {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 10px 5px;
    border-radius: 0px 5px 5px 0px;
}

.nonOwnCol {
    margin-left: 5px;
}

.paddingFix {
    padding: 5px;
}

.inputBorderFix {
    border-radius: 5px 0px 0px 5px;
}

.borderRadiusFix {
    border-radius: 0px;
}

@media screen and (max-width: 1288px) {
    .paddingFix {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 993px) {
    .nonOwnCol {
        margin: 10px 0 0 0;
    }

    .paddingFix {
        padding: 5px;
    }
}

@media screen and (max-width: 767px) {
    .secondion-row {
        display: block;
        margin-top: 3%;
    }

    .priceFirst {
        display: none;
    }

    .arrivesHeadIng {
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 600px) {

    .validButton {
        font-size: 10px;
    }

}

::ng-deep .mat-form-field-underline {
    display: none;
}

@media screen and (max-width: 500px) {
    ::ng-deep .cdk-overlay-pane {
        left: 52% !important;
        left: calc((100vw - 40px) / 3) !important;

    }

}

.marginSet {
    margin-top: 3%;
    margin-bottom: 3%;
}