<footer>
    <ion-row>
        <ion-row class="main">
            <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-col class="brand">
                    <ion-img class="images" src="./../../../assets/img/delivery-man (1).png"></ion-img>
                </ion-col>
            </ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="3" size-sm="12" size-xs="12"></ion-col>
            <ion-col class="flex" size-xl="4" size-lg="4" size-md="5" size-sm="12" size-xs="12">
                <ion-list>Terms of Use</ion-list>
                <ion-list>
                    <p class="seprate"> | </p>
                </ion-list>
                <ion-list>Security and Privacy</ion-list>
            </ion-col>
        </ion-row>
    </ion-row>
</footer>