<app-header></app-header>
<app-footer> </app-footer>
<div class="mainContent">
  <ion-row class="heading">
    <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
      <h1>Where now meets next</h1>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
  </ion-row>
  <ion-row class="links">
    <ion-col></ion-col>
    <ion-col>
      <ul>
        <li><button>Rate & Transit Times</button></li>
        <li><button>Track</button></li>
        <li><button>Ship</button></li>
      </ul>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
    <ion-col  size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
      <div class="search">
        <input type="text" placeholder="Tracking Id">
        <div><button>TRACK</button></div>
      </div>
      <div class="linkPart">
        <span><a href="">MULTIPLE TRACKING NUMBERS</a></span>
        <span class="divider">|</span>
        <span><a href="">NEED HELP?</a></span>
      </div>
    </ion-col>
    <ion-col  size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
  </ion-row>
  <ion-row class="rateTransit">
    <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
      <form>
        <div><h1>Calculate FedEx shipping rates.</h1></div>
        <div><label>From</label></div>
        <div><input type="text" placeholder="Address 1" name=""></div>
        <div><input type="text" placeholder="Address 2" name=""></div>
        <div><input type="text" placeholder="City" name=""></div>
        <div><input type="text" placeholder="Zip/Postal" name=""></div>
        <div><label>To</label></div>
        <div><input type="text" placeholder="Address 1" name=""></div>
        <div><input type="text" placeholder="Address 2" name=""></div>
        <div><input type="text" placeholder="City" name=""></div>
        <div><input type="text" placeholder="Zip/Postal" name=""></div>
        <button>Check Rate</button>
      </form>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="2" size-sm="12" size-xs="12"></ion-col>
  </ion-row>
</div>