<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

  </style>
</head>

<body>
  
  <div class="navbar">
    <a href="#home">About</a>
    <a href="#news">News</a>
    <a href="#about">Home </a>
    <div class="dropdown">
      <button class="dropbtn">Themes
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <button type="button" onclick="document.body.style.backgroundColor = 'skyblue';"> <a href="#"> Blue Theme  <input
          type="radio" name="Link"></a> </button> <br>
    <button type="button" onclick="document.body.style.backgroundColor = 'rgb(144,238,144)';"><a href="#"> Green Theme  <input
          type="radio" name="Link"></a> </button><br>
    <button type="button" onclick="document.body.style.backgroundColor = 'pink';"> <a href="#"> Pink Theme  <input
          type="radio" name="Link"></a> </button>
      </div>
    </div>
  </div>









</body>

</html>