
body {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
    
  }
.navbar{
    width: 100%;
    background-color: #21262d;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    margin: 8px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #c9d1d9;
  }
  .navbar .button{
    display: none;
}
  .navbar .logo{
    display: none;
  }
  .dark{
    margin: 8px;
    padding: 10px;
  }
  @media screen and (max-width: 480px){
    .navbar .button{
          display: block;
          padding: 10px;
          margin: 10px 10px 10px 0;
      }
      .navbar ul li{
          display: none;
      }

      .navbar .logo{
        display: block;
        padding: 10px;
        margin: 10px 10px 10px 0;
        text-decoration: none;
        color: #c9d1d9;

      }

      .navbarMobile{
        background-color: #21262d;
      }
      .navbarMobile li{
          float: none;
          text-align: center;
      }
      
     .navbarMobile li a {
        display: block;
        margin: 8px;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bolder;
        color: #c9d1d9;
      }
      
  }