<html>
<body>
  <nav class="navbar" >
    <ul>
        <p style="float: left;"><a href="#" class="logo"><img src="">(Brand Name)</a></p>
        <Button style="float: right;" class="button" (click)="onclick()">Menu</Button>
        <Button style="float: right;" class="button" >Dark Mode</Button>
        <li><Button class="dark">Dark Mode</Button></li>
        <li><a href="#" >Contact</a></li>
        <li><a href="#" >About</a></li>
        <li><a href="#" >Home</a></li>
        <li style="float: left;"><a href="#" ><img src="">(Brand Name)</a></li>
    </ul>
</nav>
<nav class="navbarMobile" >
<ul *ngIf="navShow">
    <li><a href="#" >Home</a></li>
    <li><a href="#" >About</a></li>
    <li><a href="#" >Contact</a></li>
</ul>
</nav>
</body>

</html>