<app-header></app-header>
<app-footer></app-footer>


<form class="signup" [formGroup]="changeForm">
    <ion-row>

        <ion-col class=".bt">
            <ion-row>
                <ion-col>
                    <h1 class="heading">Change Password</h1>
                </ion-col>
            </ion-row>
            <ion-col>
                <ion-label>

                    <h1>Old Password </h1>
                </ion-label>
                <ion-input type="password" placeholder="Enter Input" formControlName="oldPassword"></ion-input>
                <div class="errorMsg" *ngIf="changeForm.controls['oldPassword'].invalid && (changeForm.controls['oldPassword'].dirty || changeForm.controls['oldPassword'].touched)">
                    <div *ngIf="changeForm.controls['oldPassword'].errors.required">
                        <div class="errorMsg">Please enter Old Password</div>
                    </div>
                </div>
            </ion-col>

            <ion-label>
                <h1> New Password </h1>
            </ion-label>
            <ion-input type="password" placeholder="Enter Input" formControlName="newPassword"></ion-input>
            <div class="errorMsg" *ngIf="changeForm.controls['newPassword'].invalid && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
                <div *ngIf="changeForm.controls['newPassword'].errors.required">
                    <div class="errorMsg">Please enter newPassword</div>
                </div>
                <div *ngIf="changeForm.controls['newPassword'].errors.pattern">
                    <div class="errorMsg">contains atleast 8 characters with one special, number, uppercase & lowercase </div>
                </div>
                <div *ngIf="changeForm.controls['newPassword'].errors.maxlength">
                    <div class="errorMsg">Password must be 16 characters or less</div>
                </div>
            </div>

            <ion-label>
                <h1> Confirm Password </h1>
            </ion-label>
            <ion-input type="password" placeholder="Enter Input" formControlName="confirmPassword"></ion-input>
            <div *ngIf="changeForm.controls['confirmPassword'].errors.pattern">
                <div class="errorMsg">contains atleast 8 characters with one special, number, uppercase & lowercase </div>
            </div>
            <div *ngIf="changeForm.controls['confirmPassword'].errors.maxlength">
                <div class="errorMsg">Password must be 16 characters or less</div>
            </div>
            <div class="errorMsg" *ngIf="changeForm.controls['confirmPassword'].invalid && (changeForm.controls['confirmPassword'].dirty || changeForm.controls['confirmPassword'].touched)">
                <div *ngIf="changeForm.controls['confirmPassword'].errors.required">
                    <div class="errorMsg">Please enter Confirm Password</div>
                </div>
                <div class="errorMsg" *ngIf="changeForm.controls['confirmPassword'].errors.MustMatch">
                    <div class="errorMsg">The password and confirmation password do not match.</div>
                </div>
            </div>
            <br>
            <ion-button [disabled]="!changeForm.valid">
                Reset Passowrd
            </ion-button>
        </ion-col>

        <ion-col>
            <ion-row>
                <ion-col>
                    <h1 class="heading">Password Change Instruction</h1>
                    <ion-col>

                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-row>
                                <h4>
                                    <ol class="ilk">
                                        <li>Password should not be "password" or "PASSWORD"</li>
                                        <li> Password should contain at least four letters.</li>
                                        <li>Password should contain at least two numbers</li>
                                        <li> Password should contain at least 8 characters in total
                                        </li>
                                        <li> Password should contain at least two special characters from the following list: (1@#$%^&*( ) + 1] ( ) :: /?>.)
                                        </li>
                                        <li> if this is not your first time creating a password on Couier , your new password should not match any of your previous to passwords</li>
                                    </ol>
                                </h4>
                            </ion-row>
                        </ion-row>
                    </ion-col>

                </ion-col>
            </ion-row>
        </ion-col>




    </ion-row>
</form>