.mainCol{
    background-color: #e4e4e4;
    padding: 10px;
    border: 1px solid #c3c3c2;
}

.infoLine{
    font-size: 1.6em;
    font-weight: normal;
    color: #4d148c;
    margin: 10px 20px;
}

.fromToLabel{
    font-weight: bold;
    color: #444;
}

.mainLabel{
    color: #4d148c;
    font-size: 1.15em;
    font-weight: bold;
    width: 99%;
    border-bottom: 2px solid #d9d9d9;
    box-sizing: border-box;    
}

.marginText{
    margin: 5px 0;
}

.marginLine{
    margin: 0 14px 0 0;
}

.paymentSection{
    background: none 0px 0px repeat scroll rgb(238, 238, 238);
    border-top: 3px solid rgb(77, 20, 140);
    padding: 15px;
    box-sizing: border-box;
}

.cardInfo{
    color: #444;
    margin: 10px 0;
    font-weight: bold;
}

.margin{
    margin: 10px 0px;
}

.padding{
    padding: 0 20px;
}

.cardInfoDetails{
    font-weight: 100;
} 

.alignEnd{
    text-align: end;
    box-sizing: border-box;
}

.alignEnd ion-checkbox{
    width: 13px;
    height: 13px;
}

.alignEnd ion-label{
    margin: 0 10px;
    
}

.lastSec{
    color: #444;
    margin: 10px 0;
}

.button{
    text-transform: none;
    width: 100%;
    margin: 10px 0;
}