<ion-row style="margin-bottom: 100px;">
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="9" size-lg="9" size-md="11" size-sm="12" size-xs="12" class="mainCol">
        <ion-row>
            <ion-col class="infoLine">
                <ion-label>Review your shipment summary and payment information below.</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="padding">
                <ion-row class="mainLabel">
                    <ion-col>
                        <ion-label>Address Information</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="margin">
                    <ion-col>
                        <ion-label class="labelHeading">From :</ion-label>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.fromName + ","}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.fromAddressLine1 + ","}} </ion-label>
                            <ion-label *ngIf="this.sharedService.OrderAdress.fromAddressLine2 !='' ">
                                {{this.sharedService.OrderAdress.fromAddressLine2 + ","}} </ion-label>
                            <ion-label> {{this.sharedService.OrderAdress.fromCity + ", " +
                                this.sharedService.OrderAdress.fromState + ", " +
                                this.sharedService.OrderAdress.fromZipCode + ", " +
                                this.sharedService.OrderAdress.fromCountry +"." }} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.fromPhoneNumber}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.fromEmail }} </ion-label>
                        </ion-row>

                    </ion-col>
                    <ion-col>
                        <ion-label class="labelHeading">To :</ion-label>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.recipientName + ","}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.recipientAddressLine1 + ","}} </ion-label>
                            <ion-label *ngIf="this.sharedService.OrderAdress.recipientAddressLine2 !='' ">
                                {{this.sharedService.OrderAdress.recipientAddressLine2 + ","}} </ion-label>
                            <ion-label> {{this.sharedService.OrderAdress.recipientCity + ", " +
                                this.sharedService.OrderAdress.recipientState + ", " +
                                this.sharedService.OrderAdress.recipientZipCode + ", " +
                                this.sharedService.OrderAdress.recipientCountry +"." }} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.recipientPhoneNumber}} </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label> {{this.sharedService.OrderAdress.recipientEmail }} </ion-label>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="padding">
                <ion-row class="mainLabel" style="margin: 0;">
                    <ion-col>
                        <ion-label>Shipment Details</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Ship date : </ion-label>
                                <ion-text class="cardInfoDetails"> {{ this.shipDate }}</ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Estimated delivery : </ion-label>
                                <ion-text class="cardInfoDetails"> {{ this.sharedService.estimatedDeliveryDate }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Pricing option : </ion-label>
                                <ion-text class="cardInfoDetails"> {{ this.sharedService.shipmentModel.pricingOption }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Service : </ion-label>
                                <ion-text class="cardInfoDetails"> {{ this.sharedService.rateRequest.service }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Declared value : </ion-label>
                                <ion-text class="cardInfoDetails"> ${{ this.sharedService.shipmentModel.declaredValue }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="cardInfo">
                                <ion-label>Special services : </ion-label>
                                <ion-text class="cardInfoDetails"> {{ this.sharedService.shipmentModel.specialServices
                                    }}</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="paymentSection">
            <ion-col>
                <ion-label class="mainLabel" style="margin: 0;">Payment Information:</ion-label>
                <ion-row class="cardInfo">
                    <ion-col>
                        <ion-label>Credit Card :</ion-label>
                        <ion-text class="cardInfoDetails"> XXXX-XXXX-XXXX-{{
                            this.sharedService.paycreditCardNo.slice(-4) }}</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="cardInfo">
                    <ion-col>
                        <ion-label>Expiration :</ion-label>
                        <ion-text class="cardInfoDetails">
                            {{this.sharedService.payselectMonth}}/{{this.sharedService.payselectYear}}</ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row class="cardInfo">
                    <ion-col class="alignEnd">
                        <ion-label>Total Estimated Rate : </ion-label>
                        <ion-text class="cardInfoDetails">${{ this.sharedService.finalShipRate }}</ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row class="lastSec">
                    <ion-col class="alignEnd">
                        <ion-checkbox></ion-checkbox>
                        <ion-label style="font-size: 18px;">Email a copy of my shipping label</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="lastSec">
                    <ion-col>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="7" size-xs="12"
                                class="alignEnd marginLine">
                                <ion-text style="font-size: 12px;">By selecting the Ship button, you accept the <a
                                        href="#">demo.com Terms of Use</a> and the
                                    demo terms of shipping in the applicable <a href="#">Service Guide</a> .</ion-text>
                            </ion-col>
                            <ion-col class="alignEnd" size-xl="1.5" size-lg="2" size-md="2" size-sm="2" size-xs="12">
                                <ion-button class="button">Ship</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
</ion-row>