.margin{
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}

ion-label{
    text-align: left;
    color: rgb(73, 128, 0);
}
.heading{
    text-align: center;
    color: #4d148c;
    margin: 10px 0;
}
ion-input {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    --padding-top: 18px;
    --padding-end: 0;
    --padding-bottom: 18px;
    --padding-start: 10px;
    margin: 10px 0;
    text-align: left;
    height: 45px;
}

ion-col {
    text-align: left;
}

ion-button {
    margin: 10px;
--background: green;
}

ion-button[disabled] {
    --background: grey;

}

.errorMsg {
    font-size: 12px;
    color: red;
}

.fa{
    padding: 14px 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
    cursor: pointer;
}