* {
    box-sizing: border-box;
  }
  
  body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/agsquare.png);
    padding-top: 20%;
  }


  .heading h1{
    text-align: center;
    background-color: white;

  }
  .login label{
    margin: 0 0 7px;
  }
  
  h1,
  .login,
  .account,
  .contact{
    width:80%;
    margin: 0 auto;
  }
  
  h1 {
    background-color: rgba(191, 216, 227, 0.8);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
  }
  
  .login {
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login > div {
    padding: 5px 0;
  }
  
  input[type="submit"] {
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    color: #fff;
    background-color: rgb(54, 134, 169);
    font-size: 110%;
  }
  
  input[type="text"],
  input[type="password"] {
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  
  .actions a {
    font-size: 80%;
  }
  
  .button {
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 7px 0 7px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .logo{
    padding: 35px 0 20px 0;
  }

  .logo img{
    height: 48px;
    width: 48px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background-color: #4CAF50;
    padding: 30px 0 20px 0;
  }
  .account{
    border: 1px solid rgba(191, 216, 227, .8);
    background-color: rgba(191, 216, 227, .4);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }
  .account p {
    margin: 0;
  }
  .password a{
    float: right;
  }