* {
    box-sizing: border-box;
}

body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/agsquare.png);
    padding-top: 20%;
}

.main {
    margin: 0 0 80px 0;
}

h1,
.login,
.account,
.contact {
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.imageRow {
    margin: 80px 0 0 0;
    text-align: center;
}

ion-img {
    width: 85px;
    text-align: center;
    margin: 0 auto;
}

.heading h1 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
}

.login label {
    margin: 0 0 7px;
    color: #000;
}
.marginFix{
    margin: 10px 0;
}

.validError{
    text-align: center;
}

.error ion-text {
    color: red;
    text-align: center;
    margin-bottom: 2%;
}

.success ion-text {
    color: green;
    text-align: center;
    margin-bottom: 2%;
}

.login {
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
}

ion-label {
    font-weight: bolder;
}

ion-input {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    --padding-start: 6.5px;
    --padding-end: 6.5px;
    --padding-top: 6.5px;
    --padding-bottom: 6.5px;
    margin: 1.5% 0;
    border-radius: 6px;
}

ion-button {
    width: 100%;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 7px 0 7px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    --background: green;
}

ion-button[disabled] {
    --background: grey;

  }

.errorMsg {
    font-size: 12px;
    color: red;
}

.eyeIcon {
    padding: 8px;
    margin: 1.5% 0;
    border-radius: 6px;
    border: 1px solid black;
    background: #e5e5e5;
    cursor: pointer;
}

.account {
    text-align: center;
    padding: 10px;
    background-color: #e5e5e5;
}

ion-text {
    margin: 0;
    font-weight: bolder;
    font-size: 15px;
    color: #000;
}

.account a {
    text-decoration: none;
    color: #660099;
}

.forgotPassword {
    float: right;
    text-decoration: none;
    color: #660099;
    font-weight: bold;
}

.contact {
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
}

@media screen and (max-width: 320px) {
    .forgotPassword {
        float: none;
        display: block;
    }
}
