<app-header></app-header>
<app-footer></app-footer>
<ion-row class="main">
    <ion-col>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
                    <ion-col>
                        <ion-row class="list">
                            <ion-col class="listMargin"><label>1. &nbsp; Address Information</label></ion-col>
                            <ion-col size-sm="3" size-xs="3" class="editButton">
                                <ion-button class="listButton" (click)="editAddress()">Edit</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
                </ion-row>

                <!-- Address details starts here -->

                <ion-row *ngIf="this.sharedService.addressDetails">
                    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
                    <ion-col size-xl="9" size-lg="9" size-md="11" size-sm="12" size-xs="12" class="mainCol">
                        <form [formGroup]="addressForm">
                            <ion-label class="title">Enter your (From) address and the recipient's (To) address.
                            </ion-label>
                            <ion-row>
                                <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                                    <ion-row class="fromToLabel">
                                        <ion-col>
                                            <ion-label>From Address</ion-label>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row class="margin">
                                        <ion-col>

                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Your name</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input formControlName="yourName" placeholder="Enter Your Name" type="text"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['yourName'].invalid && (addressForm.controls['yourName'].dirty || addressForm.controls['yourName'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['yourName'].errors.required">This is a
                                                        required Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['yourName'].errors.pattern">
                                                        Only
                                                        Alphanumeric characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['yourName'].errors.maxlength">Maximum
                                                        20 alphabetical characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['yourName'].errors.minlength">Minimum
                                                        3 alphabetical letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Company</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="text" formControlName="fromCompany" placeholder="(optional)"></ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Country/Location</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input formControlName="fromCountry" placeholder="Enter Country Name"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['fromCountry'].invalid && (addressForm.controls['fromCountry'].dirty || addressForm.controls['fromCountry'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCountry'].errors.required">This is a
                                                        required Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCountry'].errors.pattern">
                                                        Only
                                                        Alphanumeric characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCountry'].errors.maxlength">Maximum
                                                        20 alphabetical characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCountry'].errors.minlength">Minimum
                                                        3 alphabetical letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Address</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="text" formControlName="fromAddress" placeholder="Street address"
                                                        style="margin-bottom: 10px;"></ion-input>
                                                        <ion-col class="errorMsg"
                                                    *ngIf="addressForm.controls['fromAddress'].invalid && (addressForm.controls['fromAddress'].dirty || addressForm.controls['fromAddress'].touched)"
                                                    class="alert">
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromAddress'].errors.required">
                                                        This is
                                                        a required Fields
                                                    </ion-col>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromAddress'].errors.minlength">
                                                        Address contains atleast 10 characters
                                                    </ion-col>
                                                </ion-col>
                                                    <ion-input type="text"
                                                        placeholder="Apt, Floor, Suite, etc. (optional)">
                                                    </ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Zip</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  (keypress)="restrictNumeric($event)"  oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                        maxlength="5" formControlName="fromZip" placeholder="Enter Your Zip code"></ion-input>
                                                    <ion-col class="errorMsg"
                                                    *ngIf="addressForm.controls['fromZip'].invalid && (addressForm.controls['fromZip'].dirty || addressForm.controls['fromZip'].touched)">
                                                    <ion-col *ngIf="addressForm.controls['fromZip'].errors.required">
                                                        <ion-col class="errorMsg">This is a required Fields</ion-col>
                                                    </ion-col>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromZip'].errors.pattern">Invaild
                                                        ZIP
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>City</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="fromCity" placeholder="Enter Your City Name"  type="text"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['fromCity'].invalid && (addressForm.controls['fromCity'].dirty || addressForm.controls['fromCity'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCity'].errors.required">This is a
                                                        required
                                                        Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCity'].errors.pattern">Only
                                                        Alphanumeric
                                                        characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCity'].errors.maxlength">Maximum 35
                                                        alphabetical
                                                        characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['fromCity'].errors.minlength">Minimum 3
                                                        alphabetical
                                                        letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                    
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>State</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-select interface="popover" formControlName="fromState"
                                                        (change)="selectchangehandler($event)">
                                                        <ion-select-option value="">Select state</ion-select-option>
                                                        <ion-select-option value="AL">Alabama (AL)</ion-select-option>
                                                        <ion-select-option value="AK">Alaska (AK)</ion-select-option>
                                                        <ion-select-option value="AZ">Arizona (AZ)</ion-select-option>
                                                        <ion-select-option value="AR">Arkansas (AR)</ion-select-option>
                                                        <ion-select-option value="CA">California (CA)
                                                        </ion-select-option>
                                                        <ion-select-option value="CO">Colorado (CO)</ion-select-option>
                                                        <ion-select-option value="CT">Connecticut (CT)
                                                        </ion-select-option>
                                                        <ion-select-option value="DE">Delaware (DE)</ion-select-option>
                                                        <ion-select-option value="DC">District Of Columbia (DC)
                                                        </ion-select-option>
                                                        <ion-select-option value="FL">Florida (FL)</ion-select-option>
                                                        <ion-select-option value="GA">Georgia (GA)</ion-select-option>
                                                        <ion-select-option value="HI">Hawaii (HI)</ion-select-option>
                                                        <ion-select-option value="ID">Idaho (ID)</ion-select-option>
                                                        <ion-select-option value="IL">Illinois (IL)</ion-select-option>
                                                        <ion-select-option value="IN">Indiana (IN)</ion-select-option>
                                                        <ion-select-option value="IA">Iowa (IA)</ion-select-option>
                                                        <ion-select-option value="KS">Kansas (KS)</ion-select-option>
                                                        <ion-select-option value="KY">Kentucky (KY)</ion-select-option>
                                                        <ion-select-option value="LA">Louisiana (LA)</ion-select-option>
                                                        <ion-select-option value="ME">Maine (ME)</ion-select-option>
                                                        <ion-select-option value="MD">Maryland (MD)</ion-select-option>
                                                        <ion-select-option value="MA">Massachusetts (MA)
                                                        </ion-select-option>
                                                        <ion-select-option value="MI">Michigan (MI)</ion-select-option>
                                                        <ion-select-option value="MN">Minnesota (MN)</ion-select-option>
                                                        <ion-select-option value="MS">Mississippi (MS)
                                                        </ion-select-option>
                                                        <ion-select-option value="MO">Missouri (MO)</ion-select-option>
                                                        <ion-select-option value="MT">Montana (MT)</ion-select-option>
                                                        <ion-select-option value="NE">Nebraska (NE)</ion-select-option>
                                                        <ion-select-option value="NV">Nevada (NV)</ion-select-option>
                                                        <ion-select-option value="NH">New Hampshire (NH)
                                                        </ion-select-option>
                                                        <ion-select-option value="NJ">New Jersey (NJ)
                                                        </ion-select-option>
                                                        <ion-select-option value="NM">New Mexico (NM)
                                                        </ion-select-option>
                                                        <ion-select-option value="NY">New York (NY)</ion-select-option>
                                                        <ion-select-option value="NC">North Carolina (NC)
                                                        </ion-select-option>
                                                        <ion-select-option value="ND">North Dakota (ND)
                                                        </ion-select-option>
                                                        <ion-select-option value="OH">Ohio (OH)</ion-select-option>
                                                        <ion-select-option value="OK">Oklahoma (OK)</ion-select-option>
                                                        <ion-select-option value="OR">Oregon (OR)</ion-select-option>
                                                        <ion-select-option value="PA">Pennsylvania (PA)
                                                        </ion-select-option>
                                                        <ion-select-option value="RI">Rhode Island (RI)
                                                        </ion-select-option>
                                                        <ion-select-option value="SC">South Carolina (SC)
                                                        </ion-select-option>
                                                        <ion-select-option value="SD">South Dakota (SD)
                                                        </ion-select-option>
                                                        <ion-select-option value="TN">Tennessee (TN)</ion-select-option>
                                                        <ion-select-option value="TX">Texas (TX)</ion-select-option>
                                                        <ion-select-option value="UT">Utah (UT)</ion-select-option>
                                                        <ion-select-option value="VT">Vermont</ion-select-option>
                                                        <ion-select-option value="VA">Virginia</ion-select-option>
                                                        <ion-select-option value="WA">Washington</ion-select-option>
                                                        <ion-select-option value="WV">West Virginia</ion-select-option>
                                                        <ion-select-option value="WI">Wisconsin</ion-select-option>
                                                        <ion-select-option value="WY">Wyoming</ion-select-option>
                                                    </ion-select>
                                                    <ion-col class="errorMsg"
                                                    *ngIf="addressForm.controls['fromState'].invalid && (addressForm.controls['fromState'].dirty || addressForm.controls['fromState'].touched)"
                                                    class="alert">
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromState'].errors.required">
                                                        This is
                                                        a required Fields
                                                    </ion-col>
                                                   
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding" >
                                                    <ion-label>Phone</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  (keypress)="restrictNumeric($event)"  formControlName="fromPhone" placeholder="Enter your Phone Number" type="tel"   oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(1, this.maxLength);"
                                                        maxlength="10" ></ion-input>
                                                    <ion-col class="errorMsg"
                                                    *ngIf="addressForm.controls['fromPhone'].invalid && (addressForm.controls['fromPhone'].dirty || addressForm.controls['fromPhone'].touched)"
                                                    class="alert">
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromPhone'].errors.required">
                                                        This is
                                                        a required Fields
                                                    </ion-col>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromPhone'].errors.minlength">
                                                        Phone Number  contains  10 Digit
                                                    </ion-col>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['fromPhone'].errors.pattern">
                                                        Phone Number  contains  10 Digit
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Email notification</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="fromEmail" type="email" placeholder="(optional)"></ion-input>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.get('fromEmail').errors?.pattern">
                                                        Email is Invaild
                                                    </ion-col>
                                                </ion-col>
                                            </ion-row>

                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                                    <ion-row class="fromToLabel">
                                        <ion-col>
                                            <ion-label></ion-label>To Address
                                        </ion-col>
                                    </ion-row>
                                    <ion-row class="margin">
                                        <ion-col>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Recipient name</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="toRecipient" placeholder="Enter Your Recipient Name"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['toRecipient'].invalid && (addressForm.controls['toRecipient'].dirty || addressForm.controls['toRecipient'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toRecipient'].errors.required">This is a
                                                        required Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toRecipient'].errors.pattern">
                                                        Only
                                                        Alphanumeric characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toRecipient'].errors.maxlength">Maximum
                                                        20 alphabetical characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toRecipient'].errors.minlength">Minimum
                                                        3 alphabetical letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Company</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="toCompany" type="text" placeholder="(optional)"></ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Country/Location</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="toCountry" placeholder="Enter Your Country Name"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['toCountry'].invalid && (addressForm.controls['toCountry'].dirty || addressForm.controls['toCountry'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCountry'].errors.required">This is a
                                                        required Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCountry'].errors.pattern">
                                                        Only
                                                        Alphanumeric characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCountry'].errors.maxlength">Maximum
                                                        20 alphabetical characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCountry'].errors.minlength">Minimum
                                                        3 alphabetical letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Address</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input   formControlName="toAddress" type="text" placeholder="Street address"
                                                        style="margin-bottom: 10px;"></ion-input>
                                                        <ion-col class="errorMsg"
                                                        *ngIf="addressForm.controls['toAddress'].invalid && (addressForm.controls['toAddress'].dirty || addressForm.controls['toAddress'].touched)"
                                                        class="alert">
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toAddress'].errors.required">
                                                            This is
                                                            a required Fields
                                                        </ion-col>
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toAddress'].errors.minlength">
                                                            Address contains atleast 10 characters
                                                        </ion-col>
                                                    </ion-col>
                                                    <ion-input type="text"
                                                        placeholder="Apt, Floor, Suite, etc. (optional)">
                                                    </ion-input>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Zip</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input (keypress)="restrictNumeric($event)"  oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                        maxlength="5" formControlName="toZip" placeholder="Enter your Zip code"></ion-input>
                                                        <ion-col class="errorMsg"
                                                        *ngIf="addressForm.controls['toZip'].invalid && (addressForm.controls['toZip'].dirty || addressForm.controls['toZip'].touched)">
                                                        <ion-col *ngIf="addressForm.controls['toZip'].errors.required">
                                                            <ion-col class="errorMsg">This is a required Fields</ion-col>
                                                        </ion-col>
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toZip'].errors.pattern">Invaild
                                                            ZIP
                                                        </ion-col>
                                                    </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>City</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input formControlName="toCity" placeholder="Enter Your City Name" type="text"></ion-input>
                                                    <ion-col size="12" class="errorMsg"
                                                    *ngIf="addressForm.controls['toCity'].invalid && (addressForm.controls['toCity'].dirty || addressForm.controls['toCity'].touched)">
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCity'].errors.required">This is a
                                                        required
                                                        Fields
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCity'].errors.pattern">Only
                                                        Alphanumeric
                                                        characters are allowed
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCity'].errors.maxlength">Maximum 35
                                                        alphabetical
                                                        characters Long Only
                                                    </ion-col>
                                                    <ion-col size="12" class="errorMsg"
                                                        *ngIf="addressForm.controls['toCity'].errors.minlength">Minimum 3
                                                        alphabetical
                                                        letters are Required
                                                    </ion-col>
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>State</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-select formControlName="toState" interface="popover"
                                                        (change)="selectchangehandler($event)">
                                                        <ion-select-option value="">Select state</ion-select-option>
                                                        <ion-select-option value="AL">Alabama (AL)</ion-select-option>
                                                        <ion-select-option value="AK">Alaska (AK)</ion-select-option>
                                                        <ion-select-option value="AZ">Arizona (AZ)</ion-select-option>
                                                        <ion-select-option value="AR">Arkansas (AR)</ion-select-option>
                                                        <ion-select-option value="CA">California (CA)
                                                        </ion-select-option>
                                                        <ion-select-option value="CO">Colorado (CO)</ion-select-option>
                                                        <ion-select-option value="CT">Connecticut (CT)
                                                        </ion-select-option>
                                                        <ion-select-option value="DE">Delaware (DE)</ion-select-option>
                                                        <ion-select-option value="DC">District Of Columbia (DC)
                                                        </ion-select-option>
                                                        <ion-select-option value="FL">Florida (FL)</ion-select-option>
                                                        <ion-select-option value="GA">Georgia (GA)</ion-select-option>
                                                        <ion-select-option value="HI">Hawaii (HI)</ion-select-option>
                                                        <ion-select-option value="ID">Idaho (ID)</ion-select-option>
                                                        <ion-select-option value="IL">Illinois (IL)</ion-select-option>
                                                        <ion-select-option value="IN">Indiana (IN)</ion-select-option>
                                                        <ion-select-option value="IA">Iowa (IA)</ion-select-option>
                                                        <ion-select-option value="KS">Kansas (KS)</ion-select-option>
                                                        <ion-select-option value="KY">Kentucky (KY)</ion-select-option>
                                                        <ion-select-option value="LA">Louisiana (LA)</ion-select-option>
                                                        <ion-select-option value="ME">Maine (ME)</ion-select-option>
                                                        <ion-select-option value="MD">Maryland (MD)</ion-select-option>
                                                        <ion-select-option value="MA">Massachusetts (MA)
                                                        </ion-select-option>
                                                        <ion-select-option value="MI">Michigan (MI)</ion-select-option>
                                                        <ion-select-option value="MN">Minnesota (MN)</ion-select-option>
                                                        <ion-select-option value="MS">Mississippi (MS)
                                                        </ion-select-option>
                                                        <ion-select-option value="MO">Missouri (MO)</ion-select-option>
                                                        <ion-select-option value="MT">Montana (MT)</ion-select-option>
                                                        <ion-select-option value="NE">Nebraska (NE)</ion-select-option>
                                                        <ion-select-option value="NV">Nevada (NV)</ion-select-option>
                                                        <ion-select-option value="NH">New Hampshire (NH)
                                                        </ion-select-option>
                                                        <ion-select-option value="NJ">New Jersey (NJ)
                                                        </ion-select-option>
                                                        <ion-select-option value="NM">New Mexico (NM)
                                                        </ion-select-option>
                                                        <ion-select-option value="NY">New York (NY)</ion-select-option>
                                                        <ion-select-option value="NC">North Carolina (NC)
                                                        </ion-select-option>
                                                        <ion-select-option value="ND">North Dakota (ND)
                                                        </ion-select-option>
                                                        <ion-select-option value="OH">Ohio (OH)</ion-select-option>
                                                        <ion-select-option value="OK">Oklahoma (OK)</ion-select-option>
                                                        <ion-select-option value="OR">Oregon (OR)</ion-select-option>
                                                        <ion-select-option value="PA">Pennsylvania (PA)
                                                        </ion-select-option>
                                                        <ion-select-option value="RI">Rhode Island (RI)
                                                        </ion-select-option>
                                                        <ion-select-option value="SC">South Carolina (SC)
                                                        </ion-select-option>
                                                        <ion-select-option value="SD">South Dakota (SD)
                                                        </ion-select-option>
                                                        <ion-select-option value="TN">Tennessee (TN)</ion-select-option>
                                                        <ion-select-option value="TX">Texas (TX)</ion-select-option>
                                                        <ion-select-option value="UT">Utah (UT)</ion-select-option>
                                                        <ion-select-option value="VT">Vermont</ion-select-option>
                                                        <ion-select-option value="VA">Virginia</ion-select-option>
                                                        <ion-select-option value="WA">Washington</ion-select-option>
                                                        <ion-select-option value="WV">West Virginia</ion-select-option>
                                                        <ion-select-option value="WI">Wisconsin</ion-select-option>
                                                        <ion-select-option value="WY">Wyoming</ion-select-option>
                                                    </ion-select>
                                                    <ion-col class="errorMsg"
                                                    *ngIf="addressForm.controls['toState'].invalid && (addressForm.controls['toState'].dirty || addressForm.controls['toState'].touched)"
                                                    class="alert">
                                                    <ion-col class="errorMsg" *ngIf="addressForm.controls['toState'].errors.required">
                                                        This is
                                                        a required Fields
                                                    </ion-col>
                                                   
                                                </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Phone</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  (keypress)="restrictNumeric($event)"  formControlName="toPhone" placeholder="Enter your Phone Number" type="tel"   oninput=" if (this.value.length > this.maxLength) this.value = this.value.slice(1, this.maxLength);"
                                                        maxlength="10"   formControlName="toPhone" placeholder="Enter your Phonr Number" type="tel"></ion-input>
                                                        <ion-col class="errorMsg"
                                                        *ngIf="addressForm.controls['toPhone'].invalid && (addressForm.controls['toPhone'].dirty || addressForm.controls['toPhone'].touched)"
                                                        class="alert">
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toPhone'].errors.required">
                                                            This is
                                                            a required Fields
                                                        </ion-col>
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toPhone'].errors.minlength">
                                                            Phone Number  contains  10 Digit
                                                        </ion-col>
                                                        <ion-col class="errorMsg" *ngIf="addressForm.controls['toPhone'].errors.pattern">
                                                            Phone Number  contains  10 Digit
                                                        </ion-col>
                                                    </ion-col>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="tag">
                                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12"
                                                    class="inputTagPadding">
                                                    <ion-label>Email notification</ion-label>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input  formControlName="toEmail" placeholder="(optional)" type="email"></ion-input>
                                                    <ion-col class="errorMsg" *ngIf="addressForm.get('toEmail').errors?.pattern">
                                                        Email is Invaild
                                                    </ion-col>
                                                    
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="editButton">
                                    <ion-button [disabled]="!addressForm.valid" (click)="showShipment()">Continue</ion-button>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-col>
                    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <!-- Address details ends here -->

        <!-- Shipment details starts here -->

        <ion-row>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
            <ion-col>
                <ion-row class="list">
                    <ion-col class="listMargin"><label>2. &nbsp; Shipment Details</label></ion-col>
                    <ion-col size-sm="3" size-xs="3" class="editButton">
                        <ion-button class="listButton" (click)="editShipment()">Edit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
        </ion-row>
        <app-shipment-details *ngIf="this.sharedService.shipmentDetails"></app-shipment-details>
        <!-- Shipment details ends here -->

        <!-- Payment details starts here -->

        <ion-row>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
            <ion-col>
                <ion-row class="list">
                    <ion-col class="listMargin"><label>3. &nbsp; Payment</label></ion-col>
                    <ion-col size-sm="3" size-xs="3" class="editButton">
                        <ion-button class="listButton" (click)="editPayment()">Edit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
        </ion-row>
        <app-payment-details *ngIf="this.sharedService.paymentDetails"></app-payment-details>

        <!-- Payment details ends here -->

        <!-- Summary details starts here -->

        <ion-row>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
            <ion-col>
                <ion-row class="list">
                    <ion-col class="listMargin"><label>4. &nbsp; Summary</label></ion-col>
                    <ion-col size-sm="3" size-xs="3" class="editButton">
                        <ion-button class="listButton" (click)="editSummary()">Edit</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
        </ion-row>
        <app-summary-details *ngIf="this.sharedService.summaryDetails"></app-summary-details>
    </ion-col>
</ion-row>
<!-- Summary details ends here -->