<ion-row>
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="9" size-lg="9" size-md="11" size-sm="12" size-xs="12" class="mainCol">
        <form [formGroup]="shipmentForm">
            <ion-row>
                <ion-col class="margin">
                    <ion-label class="heading">Select Your Options</ion-label>
                </ion-col>
            </ion-row>
            <ion-row style="margin: 10px 15px;">
                <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12" class="titleCol">
                    <ion-row>
                        <ion-col class="title">
                            <ion-label>Courier One Rate</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-row>
                            <ion-col class="marginList">
                                <ion-label>No account or weighing needed</ion-label><br>
                                <ion-text> &#8226; Choose your FedEx packaging</ion-text><br>
                                <ion-text> &#8226; Choose your destination and service</ion-text><br>
                                <ion-text> &#8226; Get one rate</ion-text><br>
                                <ion-label>FedEx One Rate includes detailed tracking and is backed by our money-back
                                    guarantee.
                                </ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button>Select</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-row>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="12" size-xs="12" class="titleSecondCol">
                    <ion-row>
                        <ion-col class="title titleMargin">
                            <ion-label>OR</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12" class="titleCol">
                    <ion-row>
                        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="title">
                            <ion-label>Courier Standard Rates</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                            <ion-row>
                                <ion-col class="marginList">
                                    <ion-label>Use your account or pay as you go</ion-label><br>
                                    <ion-text> &#8226; Flexible packaging – ours or yours</ion-text><br>
                                    <ion-text> &#8226; Choose your destination and service</ion-text><br>
                                    <ion-text> &#8226; Get your rate based on weight, destination and size</ion-text>
                                    <br>
                                    <ion-label>FedEx Standard Rates include detailed tracking and are backed by our
                                        money-back
                                        guarantee.</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                            <ion-row>
                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="4" size-xs="4">
                                    <ion-label>Package Weight</ion-label>
                                </ion-col>
                                <ion-col size-xl="3.5" size-lg="3.5" size-md="3.5" size-sm="3.5" size-xs="3.5"
                                    style="padding: 0 10px;">
                                    <ion-input type="number"></ion-input>
                                </ion-col>
                                <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="4" size-xs="4">
                                    <ion-select value="lbs">
                                        <ion-select-option value="lbs" [disabled]="true">lbs</ion-select-option>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                            <ion-row>
                                <ion-col>
                                    <ion-button>Select</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-col>
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
</ion-row>

<!--

-->

<ion-row>
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
    <ion-col size-xl="9" size-lg="9" size-md="11" size-sm="12" size-xs="12">
    <ion-row class="mainLabel">
        <ion-col>
            <ion-label>Select Package Types</ion-label>
        </ion-col>
        <ion-col>
            <ion-row>
                <ion-col>

                    
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-col>
    <ion-col size-xl="1.5" size-lg="1.5" size-md=".5" size-sm="12" size-xs="12"></ion-col>
</ion-row>