* {
    box-sizing: border-box;
    color: #000;
  }
  
  body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/agsquare.png);
    padding-top: 20%;
  }
  .main{
    margin: 0 0 80px 0;
  }
  
  h1,
  .signup,
  .account,
  .contact{
    width:80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
  }
  .marginFix {
    margin-top: 1%;
  }
  .header{
    text-align: center;
    margin: 80px 0 0 0;
  }
  h1 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
  }
  
  .signup {
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;

    }
  .signup > div {
    padding: 5px 0;
  }
  input[type="text"]{
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    width: 100%;
  }
  .password input[type="text"]{
    width: 100%;
    border: none;
    margin-top: 0;
  }
  input[type="password"] {
    border: none;
    background-color: #fff;
    padding: 5px;
    margin-top: 0;
    width: 100%;
  }
  
  .password .passEye{
    display: flex;
    padding: 1px;
    background: #fff;
    margin-top: 1.5%;
    border-radius: 6px;
  }
  .eyeIcon{
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 1px solid black;
    background: #e5e5e5;
  }
  .errorMsg{
    font-size: 12px;
    color: red;
    padding: 5px 0 0 0;
  }
  .actions a {
    font-size: 80%;
  }

  .button {
    width: 100%;
    background-color: #660099; /* Green */
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 10px;
    margin: 7px 0 7px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .account{
    background-color: #e5e5e5;
    text-align: center;
    padding: 10px;
  }
  .account p {
    margin: 0;
    font-weight: bolder;
    font-size: 15px;
  }
  .account a{
    text-decoration: none;
    color: #660099;
  }
  .contact{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #000;
  }
  .label{
    font-weight: bolder;
  }
  .validButton {
    cursor: pointer;
    background-color: green;
  }
  .inValidButton {
    cursor: no-drop;
    background-color: grey;
  }

  .error {
    color: red;
    text-align: center;
    margin-bottom: 2%;
  }
.phoneFlex{
  display: flex;
  margin-top: 1%;
}
.phoneFlex select{
  width: 90px;
  margin-right: 10px;
}
.phoneNumber span{
  width: 100%;
}
.state select{
  padding: 5px;
  margin-top: 1%;
  width: 100%;
}

