<app-header></app-header>
<ion-row class="marginFix header">
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="images">
    <h1>Welcome To Signup</h1>
  </ion-col>
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
    <form class="signup" [formGroup]="SignupForm">
      <div class="email"><label for="email">Enter your email</label>
        <input class="marginFix" id="email" autocomplete="off" placeholder="Email" type="text" name="email"
          formControlName="email">
      </div>
      <div class="username"><label for="userName">Create a username</label>
        <input class="marginFix" id="userName" autocomplete="off" placeholder="Username" type="text" name="userName"
          formControlName="userName">
      </div>
      <div class="password"><label for="password">Create a password</label>
        <input class="marginFix" id="password" autocomplete="off" placeholder="Password" type="password" name="password"
          formControlName="password">
      </div>
      <div class="Address1	"><label for="Address1">Address1	</label>
        <input class="marginFix" id="Address1	" autocomplete="off" placeholder="Address1	" type="text" name="Address1	"
          formControlName="Address1	">
      </div>
      <div class="Address2"><label for="Address2">Address2</label>
        <input class="marginFix" id="Address2" autocomplete="off" placeholder="Address2" type="text" name="Address2"
          formControlName="Address2">
      </div>
      <div class="City"><label for="City">City</label>
        <input class="marginFix" id="City" autocomplete="off" placeholder="City" type="text" name="City"
          formControlName="City">
      </div>
      <div class="ZIP"><label for="ZIP/Postal">ZIP/Postal</label>
        <input class="marginFix" id="ZIP/Postal" autocomplete="off" placeholder="ZIP/Postal" type="text" name="ZIP/Postal"
          formControlName="ZIP/Postal">
      </div>
      <button class="marginFix button marginFix" [disabled]="!SignupForm.valid" (click)="goToLogin()">Sign
        in</button>
    </form>
  </ion-col>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
    <div class="account">
      <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
    </div>
    <div class="contact">
      <p>If you need any other help, please contact the helpdesk.</p>
    </div>
  </ion-col>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>
<app-footer></app-footer>