* {
    box-sizing: border-box;
    color: #000;
}

body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/agsquare.png);
    padding-top: 20%;
}

.main {
    margin: 0 0 80px 0;
}

h1,
.signup,
.account,
.contact {
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    text-align: center;
    margin: 80px 0 0 0;
}

.header h1 {
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
}

.signup {
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
}

.eyeIcon {
    padding: 8px;
    margin: 1.5% 0;
    border-radius: 6px;
    border: 1px solid black;
    background: #e5e5e5;
    cursor: pointer;
}
.marginFix{
    margin-bottom: 10px;
}

.state{
 margin: 0 10px ;
}

.errorMsg {
    font-size: 12px;
    color: red;
}

.account {
    background-color: #e5e5e5;
    text-align: center;
    padding: 10px;
}

ion-text {
    margin: 0;
    font-weight: bolder;
    font-size: 15px;
}

.account a {
    text-decoration: none;
    color: #660099;
}

.contact {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #000;
}

ion-label {
    font-weight: bolder;
}

ion-button {
    width: 100%;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 7px 0 7px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    --background: green;
}
ion-button[disabled]{
    --background: grey;

  }
ion-input{
    border: 1px solid #e5e5e5;
    background-color: #fff;
    --padding-start: 6.5px;
    --padding-end: 6.5px;
    --padding-top: 6.5px;
    --padding-bottom: 6.5px;
    margin: 1.5% 0;
    border-radius: 6px;
}
select{
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 1.5% 0;
    border-radius: 6px;
    padding: 6.5px;
    outline: none;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 2%;
}

.ccode{
    margin: auto;
    background: #e5e5e5;
}

@media screen and (max-width: 767px){
    .state{
        margin: 1.5% 0 10px 0;
    }
    

}