<app-header></app-header>
<app-footer></app-footer>
<ion-row class="marginFix header">
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="images">
    <h1>Welcome To Signup</h1>
  </ion-col>
  <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
    <form class="signup" [formGroup]="SignupForm">
      <div class="email" ><label for="email">Enter your email</label>
        <input class="marginFix" id="email" autocomplete="off" placeholder="Email" type="text" name="email"
          formControlName="email">
        <button [disabled]="this.SignupForm.controls['email'].invalid" class="marginFix button marginFix" *ngIf="isPasswordShow" (click)="continue()">Continue</button>
      </div>
      <div class="password" *ngIf="isPassword"><label for="password">Create a password</label>
        <input class="marginFix" id="password" autocomplete="off" placeholder="Password" type="password" name="password"
          formControlName="password">
        <button [disabled]="this.SignupForm.controls['password'].invalid" class="marginFix button marginFix" *ngIf="isUserNameShow" (click)="continue1()">Continue</button>

      </div>
      <div class="username" *ngIf="isUserName"><label for="userName">Create a username</label>
        <input class="marginFix" id="userName" autocomplete="off" placeholder="Username" type="text" name="userName"
          formControlName="userName">
        <button class="marginFix button marginFix" [disabled]="!SignupForm.valid" (click)="goToLogin()">Sign
          in</button>

      </div>
    </form>
  </ion-col>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
  <ion-col size-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
    <div class="account">
      <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
    </div>
    <div class="contact">
      <p>If you need any other help, please contact the helpdesk.</p>
    </div>
  </ion-col>
  <ion-col size-xl="4.5" size-lg="12" size-md="12" size-sm="12" size-xs="12"></ion-col>
</ion-row>